{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{%block content%}

<div class="container py-4"><p><h3>Email Verifcation</h3></p>
<form id="contact-form" action="/submit" method="post">
    <div class="form-group">
      <label class="form-label" for="name">Full Name</label>
      <input type="text" class="form-control" id="name"  name ="name" aria-describedby="emailHelp" placeholder="Enter name">
    </div>

    <div class="form-group">

      <label class="form-label" for="emailAddress">Email Address</label>
      <input type="email" class="form-control" id="emailAddress" name="emailAddress" placeholder="Email Address">
    </div>

    <div class="form-group">
        <label class="form-label"for="message">Message</label>
        <textarea class="form-control" id="message" name="message" rows="3"></textarea>
      </div>
    <div class="d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
    </div>  
</form>
</div>
{% endblock %}